/* I grabbed this from Google Fonts because I thought it looked nicer */
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  --primary-color: #2d5c47;
  --hover: #1a3d2b;
  --header-bg: #e0ebe4;
  --bg: #d8e0da;
  --text-color: #2c2c2c;
  --section-bg: #f1f7f4;
  --light-bg: #f9fbfa;
  --border-color: #d8e0da;
  --box-outline: #a1b1a6;
  --subtext-color: #333;
  --shadow-color: rgba(0, 0, 0, 0.05);
  --divider-color: #ccc;
}

body {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  background-color: #edf4f0;
  margin: 0;
  padding: 0;
}

.main-header {
  text-align: center;
  padding: 20px 0;
  background-color: var(--header-bg);
  border-bottom: 2px solid var(--primary-color);
}

.main-header h1 {
  font-size: 32px;
  margin: 0;
  color: var(--primary-color);
  margin-top: 10px;
}

.subtitle {
  font-size: 19px;
  color: var(--subtext-color);
  margin-top: 10px;
}

nav {
  box-shadow: 0 2px 4px var(--shadow-color);
  padding: 5px 40px;
  background-color: var(--bg);
}

nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
  margin: 0;
}

nav li {
  list-style: none;
}

nav a {
  display: inline-block;
  padding: 10px 19px;
  color: var(--primary-color);
  border-radius: 6px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
}

nav a:hover,
nav a.active {
  background-color: var(--primary-color);
  color: white;
}

.project-overview {
  max-width: 80%;
  margin: 50px auto;
  padding: 0 25px;
  line-height: 1.5;
  font-size: 17px;
  color: var(--text-color);
  background-color: var(--light-bg);
  border: 2px solid var(--border-color);
  border-radius: 8px;
  box-shadow: 0 1px 3px var(--shadow-color);
}

.project-overview h2 {
  text-align: center;
  font-size: 29px;
  margin-bottom: 25px;
  color: var(--primary-color);
  border-bottom: 2px solid var(--divider-color);
  padding-bottom: 8px;
}

.project-overview p {
  margin-bottom: 25px;
  text-align: justify;
}

.custom-link {
  color: var(--primary-color);
  text-decoration: underline;
  font-weight: 500;
}

.custom-link:hover {
  color: var(--hover);
}

/* Property Type Page */

.section-intro {
  max-width: 80%;
  margin: 40px auto;
  padding: 25px;
  background-color: var(--section-bg);
  border-left: 5px solid var(--primary-color);
  border-radius: 6px;
  box-shadow: 0 1px 3px var(--shadow-color);
}

.section-intro h2 {
  font-size: 25px;
  margin-bottom: 17px;
  color: var(--primary-color);
}

.section-intro p {
  font-size: 17px;
  line-height: 1.5;
  margin-bottom: 17px;
  color: var(--subtext-color);
}

.viz-container {
  max-width: 70%;
  margin: 20px auto;
  padding: 0 25px;
}

.container-box {
  background-color: var(--header-bg);
  border: 2px dashed var(--box-outline);
  border-radius: 8px;
  padding: 10px;
  margin: 30px auto;
  width: 80%;
  overflow-x: auto;
}

.viz-description {
  width: 100%;
  margin: 10px auto;
  padding: 0 25px;
  font-size: 17px;
  color: var(--subtext-color);
  line-height: 1.5;
}

hr {
  width: 70%;
}

#name {
  position: absolute;
  top: 10px;
  left: 20px;
  font-weight: bold;
  color: var(--primary-color);
  z-index: 0;
}

@media (max-width: 768px) {
  #name {
    font-size: 14px;
    top: 2px;
    margin-bottom: 20px;
  }
}
